:root {
	--light: undefined;
}

#navbar > .btn.btn-border-tp.btn-small.ml-3 {
	background-color: rgb(248, 249, 250);
}

#service > .container > .row.align-items-center > .col-lg-4.col-md-6.col-sm-6 > .service-block.mb-4.mb-lg-0 > .ti-rocket.text-success {
	color: rgb(220, 53, 69);
	text-decoration-color: rgb(220, 53, 69);
}

#service > .container > .row.align-items-center > .col-lg-4.col-md-6.col-sm-6 > .service-block.mb-4.mb-lg-0 > .ti-email.text-warning {
	color: rgb(220, 53, 69);
	text-decoration-color: rgb(220, 53, 69);
}

.section.others-book > .container > .row > .col-lg-3.col-md-6.col-sm-6 > .book-item.mb-4.mb-lg-0 > .hover-item {
	background-image: url("/cms-editor-builder/public/media/lqewCgAAQBAJ.jpeg");
}

#banner > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-3.mt-2 {
	color: rgb(248, 249, 250);
}

#banner > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 > h4 > font {
	color: rgb(255, 193, 7);
}

#banner > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .btn.btn-main.mt-2 {
	background-color: rgb(255, 193, 7);
}

#banner > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .text-color.font-weight-bold {
	color: rgb(255, 193, 7);
}

#banner > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 > h4 {
	color: rgb(248, 249, 250);
}

#mainmenu-area > .navbar.navbar-expand-lg > .container.align-items-center > .navbar-brand > .mb-0 > font {
	color: rgb(220, 53, 69);
}

#mainmenu-area > .navbar.navbar-expand-lg > .container.align-items-center > .navbar-brand > .mb-0 {
	color: rgb(108, 117, 125);
}

#banner > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 {
	color: rgb(199, 199, 199);
}

#banner-02 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-3.mt-2 {
	color: rgb(56, 87, 119);
}

#banner-02 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 > h4 > font {
	color: rgb(220, 53, 69);
}

#banner-02 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 > h4 {
	color: rgb(56, 87, 119);
}

#banner-02 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .text-color.font-weight-bold {
	color: rgb(220, 53, 69);
}

#banner-02 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 {
	color: rgb(108, 117, 125);
}

#banner-02 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .btn.btn-main.mt-2 {
	background-color: rgb(220, 53, 69);
}

#banner-01 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-3.mt-2 {
	color: rgb(38, 59, 94);
}

#banner-01 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 > h4 > font {
	color: rgb(220, 53, 69);
}

#banner-01 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 > h4 {
	color: rgb(52, 58, 64);
}

#banner-01 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 {
	color: rgb(52, 58, 64);
	opacity: 1;
}

#banner-01 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .text-color.font-weight-bold {
	color: rgb(220, 53, 69);
}

#banner-01 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .btn.btn-main.mt-2 {
	background-color: rgb(38, 59, 94);
	opacity: 1;
}

.banner-main-2.hero-2.py-7 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 > h4 > font {
	color: rgb(255, 193, 7);
}

.banner-main-2.hero-2.py-7 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-3.mt-2 {
	color: rgb(248, 249, 250);
}

.banner-main-2.hero-2.py-7 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .text-color.font-weight-bold {
	color: rgb(255, 193, 7);
}

.banner-main-2.hero-2.py-7 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 > h4 {
	color: rgb(248, 249, 250);
}

.banner-main-2.hero-2.py-7 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 {
	color: rgb(134, 148, 182);
}

.banner-main-2.hero-2.py-7 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .btn.btn-main.mt-2 {
	background-color: rgb(255, 193, 7);
}

.banner-main-3.hero-3.py-7 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .row > .col-lg-4.col-sm-6 > .contact-info-block.text-center.mb-4 {
	background-color: #ffc929;
	border-style: solid;
	border-width: 1px;
	border-color: #fd7e14;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.banner-main-3.hero-3.py-7 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .btn.btn-main.mt-2 {
	background-color: #dc3545;
}

.banner-main-3.hero-3.py-7 > .container > .row.justify-content-between > .col-lg-7.col-md-8 > .main-banner > .mb-4 {
	color: #f8f9fa;
}

