.hero-3 > .overlay {
	opacity: 0;
}

.hero-3 > .container > div > .row.align-items-center.justify-content-center.text-center > .col-lg-12 > .buttons > .btn.btn-warning {
	background-color: rgb(255, 193, 7);
}

.features-1.bg-alternate > .container > .row.wrap > .col-md-7.align-self-center > .max-box > .mt-2 {
	font-family: Comfortaa;
}

#navbar > .navbar-nav.ms-auto > .nav-item.dropdown > .nav-link {
	opacity: 1;
	color: #f8f9fa;
}

